<div class="col-lg-12">
    <div class="container-fluid">
        <div class="col-lg-6 wrapper border-bottom  page-heading1"
            style="padding-bottom: 0px;margin-top: -7px;margin-left:-11px">
            <div class="col-lg-4">
                <div class="col-sm-2 col-md-2 col-xs-2" style="text-align:left">
                    <div class="row ibox-content  navchild " style="border:none !important;">
                        <label style="margin-bottom:0px !important" routerLink="/invoiceconsolidation">
                            Invoice Templates Configuration
                        </label>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-xs-2" style="text-align:left">
                    <div class="row ibox-content " style="border:none !important;">
                        <label style="margin-bottom:0px !important" routerLink="/invoiceprinting">
                            Invoice Listing and Printing
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<h1>Invoice template-config works</h1>